@model IEnumerable<finalProject101.Models.Vendor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.users.Ufname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vaddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vshopname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vbanknumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.users.Ufname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vaddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vshopname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vbanknumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Vid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Vid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Vid })
        </td>
    </tr>
}

</table>
