@model IEnumerable<finalProject101.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vendors.Vaddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pyear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pmodel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pdescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pimage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PnoOfItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vendors.Vaddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pyear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pmodel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pdescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pprice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pimage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PnoOfItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Pid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Pid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Pid })
        </td>
    </tr>
}

</table>
